<h1>Create User</h1>

<input type = "text" id = "name" placeholder = "Name"></input>
<input type = "text" id = "email" placeholder = "Email"></input>
<input type = "submit" id = "submit" value = "Submit"></input>

<div id = "notice"></div>
<button id="drop-pin">Drop Pin</button>
<div id = "map-canvas"></div>
